@tailwind base;
@tailwind components;
@import "./components/_index.css";
@tailwind utilities;
@import "./utilities/_index.css";

@font-face {
  font-family: "Nexa Slab";
  src: url("/fonts/NexaSlab/NexaSlab-Light.woff2") format("woff2"),
    url("/fonts/NexaSlab/NexaSlab-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nexa Slab";
  src: url("/fonts/NexaSlab/NexaSlabBlack.woff2") format("woff2"),
    url("/fonts/NexaSlab/NexaSlabBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa Slab";
  src: url("/fonts/NexaSlab/NexaSlab-Bold.woff2") format("woff2"),
    url("/fonts/NexaSlab/NexaSlab-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa Slab";
  src: url("/fonts/NexaSlab/NexaSlab-Regular.woff2") format("woff2"),
    url("/fonts/NexaSlab/NexaSlab-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #efeded;
}
.swiper-slide{
  @apply h-auto  !important
}
.swiper-custom,.swiper-custom-inside{ 
  @apply flex justify-center pt-4 w-11/12
}
.swiper-custom-inside{
  @apply absolute bottom-2 z-10
}
a {
  color: inherit;
  text-decoration: none;
}
.swiper-bullet-custom,.swiper-bullet-custom-inside{
  @apply w-2 h-2 block rounded-2xl mx-1 bg-primary-gray-dark transition-all
}
.swiper-bullet-custom-active,.swiper-bullet-custom-inside-active{
  @apply bg-terciary-orange w-4
}
* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
} */
